<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please Confirm Your Order</h1>
    <p>
      You have successfully created an order,
      Your Order ditail are as follow
    </p>
    <p>
        <dl>
          <dt><%= @order.name %></dt>
          <dt><%= @order.address %></dt>
          <dt><%= @order.phone %></dt>
          <dt>Products</dt>
          <% @order.product_orders.each do |po|%>
            <dd><%= po.product.title %> - <%= po.quantity %></dd>  
          <%end%>
          <dt>Total Price   = <%= @order.total_price %></dt>
          <dt>Tax           = <%= @order.tax %></dt>
          <dt>Total Amount  =<%= @order.total_amount %></dt>
        </dl>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>